.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
